<% layout("layouts/boilerplate.ejs") -%>
<body>
    <div id="filters">
        <a style="text-decoration: none; color : black;" href="/listings/trending">
            <div class="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
        </div>
        </a>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic cities</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-sun"></i></div>
            <p>Mountain</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castel</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pool</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-tractor"></i></div>
            <p>Farm</p>
        </div>
        <div class="filter">
            <div><i class="fa-regular fa-snowflake"></i></div>
            <p>Artic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-landmark-dome"></i></div>
            <p>Domes</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-ship"></i></div>
            <p>Boats</p>
        </div>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" >
                <label class="form-check-label" for="flexSwitchCheckChecked">Display total after taxes</label>
              </div>
        </div>
    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let list of allListings){ %>
        <a class="box" href="/listings/<%= list._id %>">
            <div class="card col listingCard">
                <img src="<%= list.image.url %>" class="card-img-top" alt="...">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="card-text"><b><%= list.title %></b></p>
                        <p class="card-text">&#8377; <%= list.price.toLocaleString("en-IN")%>/night &nbsp; &nbsp; <i class="tax-info" style="display: none;">+ 18% GST</i></b></p>
                    </div>
                </div>
            </div>
        </a>
        <% } %>
    </div>
    
   
    <!-- <form method="get" action="/listings/new">
        <button>Create new</button>
    </form> -->

    <script>
        const taxSwitch = document.getElementById("flexSwitchCheckChecked");
        taxSwitch.addEventListener("click",()=>{
            const taxInfo = document.getElementsByClassName("tax-info");
            for(info of taxInfo){
                if(info.style.display  != "inline"){
                    info.style.display = "inline"
                }
                else{
                    info.style.display = "none"
                }
            }
        })
    </script>

</body>




